{% extends 'base.html' %}
{% load static %}
{% block title %}
个人中心
{% endblock %}
{% block content %}
<div class="row-fluid">
            <div class="span3">
                <h4>用户管理：</h4>
                <p><a href="{% url 'password_change' %}">修改密码</a></p>
                <p><a href="{% url 'pro_edit' %}">个人资料</a></p>
                <p><a href="{% url 'pro_list' %}">用户中心</a></p>
                <p><a href="{% url 'post_create' %}">添加文章</a></p>
            </div>
            <div class="span9">
                <p>姓名：
                    {% if profile.user.first_name %}
                        {{ profile.user.first_name }}
                    {% else %}
                        {{ profile.user }}
                    {% endif %}

                </p>
                <p>生日:
                    {{ profile.date_of_birth | date:'Y-m-d' }}</p>
                {% if  profile.photo %}
                    <p>照片：</p>
                    <p><img width="300" src="{{ profile.photo.url }}" alt=""></p>
                {% else %}
                    <img width="300" src="{% static 'img/12122H31938.jpg' %}" alt=""></p>
                {% endif %}
            </div>
        </div>
{% endblock %}